button{
    background-color: black;
    border: 1px solid yellow;
    padding: 1em;
    border-radius: 1em;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: grey;
    color: white;
}
button.darkMode, .darkMode button{
    background-color: black;
    border: 1px solid yellow;
    color:white
}
button.lightMode, .lightMode button{
    background-color: #ccc;
    border: 1px solid black;
    color:black
}